@import './assets/reset';
@import './assets/varible.scss';

body,
html,
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.font-large {
  font-size: 18px;
  font-weight: 600;
  text-shadow: 0 0 15px #fc0;
}

.font-common {
  font-size: 16px;
}

.font-small {
  font-size: 14px;
}

main {
  flex: 1;
  margin-top: 2px;
  background-color: $bg-light;
  padding: 30px 0;
}

.text-center {
  text-align: center;
}

.font-white {
  color: $font-color-light;
}
.font-dark {
  color: $font-color-dark;
}
.font-blue {
  color: $font-color-blue;
}

.font-grey {
  color: #bbb;
}

.font-small {
  font-size: 12px;
}

.bg-white {
  background-color: $bg-white;
}
.bg-main {
  background-color: $bg-warning;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.item-center {
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.p-y-2 {
  padding: 2px 0;
}

.p-y-5 {
  padding: 5px 0;
}

.p-y-7 {
  padding: 7px 0;
}

.p-y-10 {
  padding: 10px 0;
}

.p-x-2 {
  padding: 0 2px;
}

.p-x-5 {
  padding: 0 5px;
}

.p-x-7 {
  padding: 0 7px;
}

.p-x-10 {
  padding: 0 10px;
}

.space-between {
  justify-content: space-between;
}
