@import '../../assets/varible.scss';

.book {
  // large基于该单位进行 容器大小,字体大小,子元素大小的调整
  $larg-size: 10vw;
  $default-size: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $bg-dark;
  padding: 10px;
  gap: 10px;
  width: 100px;
  height: 140px;
  box-shadow: 0 0 5px 2px #666;
  color: $font-color-dark;

  &.book-large {
    width: 130px;
    height: 180px;
  }
  &.book-small {
    width: 70px;
    height: 90px;
    transform: scale(0.7);
  }

  .book-type-tag {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 0 30px 0 5px;
    font-size: 8px;
    color: $font-color-light;
    background-color: $bg-warning;
    text-transform: uppercase;
  }

  &::before {
    position: absolute;
    content: '';
    width: 98%;
    height: 98%;
    border: 1px solid #ccc;
  }
}
